body {
    background-color: lightblue;
    text-align: center;
    font-size: 100px;
  }
  /* Class Bach */

  .Bach{
    background-color: aquamarine;
  }
  p {
    
    font-size: 120px;
    color :red;}

  
  h1 {
    color: white;
    text-align: center;
  }
  h2 {
    color :blue;
  }
/* Class C */

  
  
  