body {
    

  }
  /* Class Bach */

  table, th, td 
    {
    border: 1px solid;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    height: 70px;
  }
/* Class C */

  
  
  