@model MvcBach.Models.HeThongPhanPhoi

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HeThongPhanPhoi</h4>
     <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHTPP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHTPP)
            </th>
            
            
            
        </tr>
    </thead>
        <tr>
            <td>
                @Html.DisplayFor(model => model.MaHTPP)
            </td>
            <td>
                @Html.DisplayFor(model=> model.TenHTPP)

            </td>
            
        <tr/>
        </table>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHTPP" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a  style="text-decoration: none;"asp-action="Index">Back to List</a>
    </form>
</div>
