@model IEnumerable<MvcBach.Models.HeThongPhanPhoi>

@{
    ViewData["Title"] = "Shearch";
}

<h1 stlye="justify-content:center; align-items: center;">Tìm kiếm</h1>
<form asp-action="Shearch">
    <input type="text" name="searchTen" placeholder="Nhập tên cần tìm...">
    <button type="submit">Tìm kiếm</button>
</form>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaHTPP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenHTPP)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaHTPP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHTPP)
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p style="font-size:20px">Không tìm thấy kết quả.</p>
}

<div>
    <a  style="text-decoration: none;"asp-action="Index">Back to List</a>
</div>
